*{
    margin:0%;
    padding:0;
    color: white;
    font-family: sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before{
    content:"";
    width: 100%;
    height:100%;
    background-image: url("./bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity:0.4;
}

.weather{
    z-index:2;
    display: flex;
    align-items: center;
    background-color:rgba(102, 39, 39, 0.592);
    padding: 3rem;
    border-radius: 5px;
}

.weather > div {
    margin: 0.625rem;
}

.weather1{
    font-size: 4rem;
}

.weather p{
    font-size: 2rem;
}

.weather span{
    font-size: 0.75rem;
}

.weather3 span {
   margin: 0.3rem; 
}

.weather3 img {
  width: 2rem;
}

nav{
    height:100px;
    box-shadow: 0 0 25px rgba(0,0,0,0.18);
    position:absolute;
    bottom:0%;
    width:100%;
    background-color: rgba(180,177,177,0.075);
    display:flex;
    justify-content: center;
    align-items: center;
}

nav form{
    width: 70%;
    grid-template-columns: 5fr 1fr;
    display: grid;
}

.searchField {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button {
    background-color: rgb(66, 128, 51);
    border-radius: 25px;
    font-size: 1.1rem;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
} 